.master_item_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.item_container {
    display: flex;
    border: 1.5px solid rgb(137, 137, 137);
    color: white;
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    background-color: rgb(79, 79, 79);
}

.number_of_items {
    height: 2rem;
    border: 1.5px solid rgb(137, 137, 137);
    border-radius: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

.item_name {
    height: 2rem;
    border: 1.5px solid rgb(137, 137, 137);
    border-radius: 40px;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

.weight {
    height: 2rem;
    border: 1.5px solid rgb(137, 137, 137);
    border-radius: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

.total_weight {
    height: 2rem;
    border: 1.5px solid rgb(137, 137, 137);
    border-radius: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

.normal_magical_consumable {
    height: 2rem;
    border: 1.5px solid rgb(137, 137, 137);
    border-radius: 100%;
    width: 3rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

img {
    height: 1.7rem;
    cursor: pointer;
}

button {
    height: 35px;
    width: 100px;
    font-size: 25px;
    color: rgb(222, 221, 221);
    text-align: center;
    background-color: rgb(31, 31, 37);
    cursor: pointer;
    border-radius: 10px;
}